@import 'animations';

.playground { 
  background-color: #333;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  cursor: grab;
  cursor: -webkit-grab;

  > * {
     height: fit-content;
     border-radius: 100%;
  }
}

.playground__text {
  color: #FFA500;
  font-size: 32px;
  font-family: 'Cabin Sketch', cursive;
  text-shadow: 2px 4px 4px #000;
  margin: 32px 0;
  position: absolute;
  transition: font-size ease 2s;
}

.--big {
  font-size: 48px;
  margin: 96px 0;
  position: absolute;
}

.--bottom {
  font-size: 56px;
  position: absolute;
  bottom: 0;
  margin: 0;
  transition: bottom ease 2s;
  -webkit-animation-name: tada;
  animation: tada 3s infinite;
}